body {
    margin: 0;
    padding: 0;
    background: url("../imgs/pixelbg.png");

}

div#wrapper {
    width : 1000px;
    margin: 0 auto;
    padding: 0 50px;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.6);
    background: url("../imgs/tiny_grid.png");
    font-family: 'Quantico', sans-serif;
    color: white;
}

div#topbun {
    background: url("../imgs/logo/top.png");
    height: 685px;
}

div#meat {
    background-color: black;
    height: 30px;
    padding: 20px;
    text-align: center;
    margin: 10px 0px;
}

#meat:hover {
    background-color: #222222;
}

div#eventdetails {
    width: 100%;
    height: 355px;
}

div#registration {
    width: 100%;
    height: 100px;
}

div#games {
    width: 100%;
    height: 400px;
}

div#bottombun {
    background: url("../imgs/logo/bottom.png");
    height: 513px;
}

.blurb {
    border: 1px dashed #4C646B;
    font-size: 20px;
    background-color: #233138;
    margin: 10px 0px;
}

.shadow {
   -moz-box-shadow:    inset 0 0 20px #121819;
   -webkit-box-shadow: inset 0 0 20px #121819;
   box-shadow:         inset 0 0 20px #121819;
}

.alternate {
    background-color: #C9172A;
}

/* Games section */
div#featured_games {
    width: 100%;
    height: 200px;
}

div#more_games {
    width: 100%;
    height: 200px;
}

/* end Games section */
