body {
    margin: 0;
    padding: 0;
    background: url("../imgs/pixelbg.png");

}

div#wrapper {
    width : 1000px;
    /*height: 1198px;*/
    margin: 0 auto;
    padding: 0 50px;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.6);
    background: url("../imgs/tiny_grid.png");
}

div#topbun {
    background: url("../imgs/logo/top.png");
    height: 685px;
}

div#meat {
    background-color: black;
    height: 30px;
    padding: 20px;
}

div#eventdetails {
    width: 100%;
    height: 200px;
    background-color: blue;
}

div#eventbrite {
    width: 100%;
    height: 100px;
    background-color: red;
}

div#links {
    width: 100%;
    height: 200px;
    background-color: green;
}

div#bottombun {
    background: url("../imgs/logo/bottom.png");
    height: 513px;
}